[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2-binary" = "*"
"boto3" = "*"
django-storages = "*"
pillow = "*"
sentry-sdk = "*"
djangorestframework = "*"
"urllib3" = "*"
chardet = "*"
requests = "*"

[dev-packages]
ipython = "*"
awsebcli = "*"
"boto3" = "*"
django-extensions = "*"
jupyter = "*"
notebook = "*"
selenium = "*"
"beautifulsoup4" = "*"
lxml = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.6"
